.head {
    color:aliceblue;
    background-color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}